<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ request.static_url('cypherpunkpay:web/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('cypherpunkpay:web/css/main.css') }}">
    <link rel="shortcut icon" href="{{ request.static_url('cypherpunkpay:web/png/bitcoin.ico') }}">

    <title>{{ title }} | CypherpunkPay</title>
</head>
<body>

<section class="hero is-fullheight is-white is-bold">
    <div class="hero-head"></div>
    <div class="hero-body {{ view.background_coin_network_css_class() }}">
        <div class="container" style="max-width: 640px;">
            {% block content %}
                <p>No content</p>
            {% endblock content %}
        </div>
    </div>
    <div class="hero-foot">
        {% include '/web/html/partials/powered_by_footer.jinja2' %}
    </div>
</section>

</body>
</html>
