.hero.is-white-cypherpunkpay {
    background-color: #0b0d1c;
    color: #ffffff;
}

.hero.is-white-cypherpunkpay.is-bold {
    background-image: none;
}

.box {
    background-color: #23263c;
    color: #e7e8ec;
}

#charge .tabs ul {
    border-bottom-color: #af89e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#charge .tabs li.is-active a {
    background-color: #23263c;
    border-color:     #af89e8;
    color: #e7e8ec;
}

#charge .tabs a {
    border-bottom-color: #af89e8;
    color: #af89e8;
}

#charge .tabs.is-boxed a:hover {
    background-color: #af89e8;
    border-color:     #af89e8;
    color: #e7e8ec;
}

.has-text-link-dark {
    color: #ebecf0 !important;
}

.has-text-dark {
    color: #ebecf0 !important;
}

.has-text-white {
    color: #e7e8ec !important;
}

.button.is-outlined {
    background-color: transparent;
    border-color: #af89e8;
    color: #f3f4f8;
}
.button.is-link.is-outlined {
    background-color: transparent;
    border-color: #af89e8;
    color: #f3f4f8;
}
.button.is-link.is-outlined:hover {
    background-color: #af89e8;
    border-color: #e7e8ec;
    color: #f3f4f8;
}
.button.is-link.is-outlined:focus {
    background-color: rgba(175, 137, 232, 0.9);
    border-color: rgba(175, 137, 232, 0.9);
    color: #f3f4f8;
}

.button.is-link {
    background-color: #af89e8;
    border-color: #af89e8;
    color: #23263c;
}
.button.is-link:hover {
    background-color: #af89e8;
    border-color: #e7e8ec;
    color: #f3f4f8;
}
.button.is-link:focus {
    background-color: rgba(175, 137, 232, 0.9);
    border-color: #e7e8ec;
    color: #f3f4f8;
}

.control input[name=total] {
    width: 8em;
    background-color: #ffffff;
    border-color: #af89e8;
    color: #af89e8;
}
.control select[name=currency] {
    background-color: #ffffff;
    border-color: #af89e8;
    color: #af89e8;
}

a {
    color: #af89e8;
}

strong {
    color: inherit;
}

code.has-text-link-dark {
    color: #ff5555 !important;
    background-color: #23263c;
}

#time-to-pay-bar {
    height: 8px;
    width: 168px;
    background-color: #e7e8ec;
}

.progress.is-primary::-webkit-progress-value {
    background-color: #4be575;
}
.progress.is-primary::-moz-progress-bar {
    background-color: #4be575;
}
.progress.is-primary::-ms-fill {
    background-color: #4be575;
}

.has-text-danger-dark {
    color: #e34e51 !important;
}

.notification.is-link.is-light {
    background-color: #0b0d1c;
    color: #e34e51;
}

.testnet {
    background-image:none;
    background-repeat:space;
}
.stagenet {
    background-image:none;
    background-repeat:space;
}
