[Unit]
Description=CypherpunkPay
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/cypherpunkpay
Type=simple

Restart=always
RestartSec=16

User=cypherpunkpay
Group=cypherpunkpay
WorkingDirectory=~
RuntimeDirectory=cypherpunkpay

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
