<p>
    <a href="{{ charge.payment_uri() }}">Click to open your wallet</a> or scan the QR code:
</p>

    <div class="qrcode-wrapper">
        <div class="qrcode-image">
            <img src="data:image/png;base64,{{ charge.cached_qr_code_base64() }}" alt="{{ charge.payment_uri() }}" />
        </div>
        <div class="qrcode-overlay-coin">
            <img src="{{ request.static_url('cypherpunkpay:web/png/bitcoin-256.png') }}" />
        </div>
    </div>
