<p class="has-text-centered has-text-grey-light" title="This product is produced independently from the Tor® anonymity software and carries no guarantee from The Tor Project.">
    <small>
        Powered by <a href="https://cypherpunkpay.org/" target="_blank" class="has-text-grey-light">CypherpunkPay</a> - open source self-hosted software for accepting Bitcoin.
    </small>
</p>
