{% if lightning_error %}
    <div class="notification is-warning is-light">
        Internal error while trying to create Lightning invoice.
        Try again in a while. If that doesn't help pick other payment method.
    </div>
{% endif %}
